.fundoCadastro {
    background-image: url('https://ik.imagekit.io/lari/3d-green-palm-leaves-arrangement.jpg');
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }
